<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianwen.springcloud.microservice.base.dao.NavigationMapper">

    <!-- 分页 -->
    <sql id="sqlFragment_pagination">
        <if test="numPerPage != null">
            limit #{numPerPage}
        </if>
        <if test="start != null">
            offset #{start}
        </if>
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlFragment_searchCriteria">
        <if test="oredCriteria != null and oredCriteria.size != 0">
            <trim prefix="and(" suffix=")">
                <foreach collection="oredCriteria" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="getSchoolSectionList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid = '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getSubjectList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SUBJECT'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and parentdictid in (select dictid from t_e_sys_dict_item where #{schoolsectionid} ilike '%,'||dictvalue||',%' and dicttypeid = 'SCHOOL_SECTION')
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getGradeList" parameterType="com.tianwen.springcloud.microservice.base.entity.Navigation"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'SCHOOL_SECTION'
        and parentdictid != '0'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="schoolsectionid != null">
            <if test="!schoolsectionid.isEmpty()">
                and parentdictid in (select dictid from t_e_sys_dict_item where #{schoolsectionid} ilike '%,'||dictvalue||',%' and dicttypeid = 'SCHOOL_SECTION')
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getTermList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'TERM'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getExamTypeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'EVALUATIONTYP'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getQuestionCategoryList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'QUESTION_TYPE_LEVEL'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getQuestionTypeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'TYPELEVELLABEL'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

    <select id="getPaperVolumeList"
            resultType="com.tianwen.springcloud.microservice.base.entity.DictItem">
        select t0.*
        from t_e_sys_dict_item t0
        where 1 = 1
        and dicttypeid = 'PAPER_VOLUME'
        <if test="searchkey != null">
            <if test="!searchkey.isEmpty()">
                and t0.dictname ilike '%'||{#searchkey}||'%'
            </if>
        </if>
        <if test="lang != null">
            <if test="!lang.isEmpty()">
                and lang = #{lang}
            </if>
        </if>
    </select>

</mapper>
