<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianwen.springcloud.microservice.score.dao.StudentPartScoreMapper">

    <sql id="table">t_e_cj_stu_part_score</sql>

    <resultMap id="StudentPartScore" type="com.tianwen.springcloud.microservice.score.entity.StudentPartScore">
        <result column="stupartscoreid" property="id" />
        <result column="examid" property="examId" />
        <result column="gradeid" property="gradeId" />
        <result column="classtype" property="classType" />
        <result column="subjectid" property="subjectId" />
        <result column="classid" property="classId" />
        <result column="stuid" property="studentId" />
        <result column="stuname" property="studentName" />
        <result column="stuno" property="studentNo" />
        <result column="examroomno" property="examRoomNo" />
        <result column="setno" property="setNo" />
        <result column="examcard" property="examCard" />
        <result column="studentexamno" property="studentExamNo" />
        <result column="schoolno" property="schoolNo" />
        <result column="questionno" property="questionNo" />
        <result column="bigno" property="bigNo" />
        <result column="questioncategoryid" property="questionCategoryId" />
        <result column="score" property="score" />
        <result column="schoolid" property="schoolId" />
        <result column="stusubjectid" property="studentSubjectId" />
        <result column="newscore" property="newScore" />
        <result column="reason" property="reason" />
        <result column="managerid" property="managerId" />
        <result column="managername" property="managerName" />
        <result column="submittime" property="submitTime" />
        <result column="smallno" property="smallNo" />
        <result column="questiontypeid" property="questionTypeId" />
        <result column="volumeid" property="volumeId" />
        <association property="exam" resultMap="com.tianwen.springcloud.microservice.score.dao.ExamMapper.JoinedExam" />
    </resultMap>

    <sql id="listFilter">
        FROM <include refid="table" /> pt
        INNER JOIN <include refid="com.tianwen.springcloud.microservice.score.dao.ExamMapper.table" /> exam USING(examid)
        INNER JOIN <include refid="com.tianwen.springcloud.microservice.score.dao.ExamPartScoreMapper.table" /> eps USING(examid, gradeid, classtype, subjectid, smallno)
        <where>
            true
            <include refid="BaseMapper.sqlFragment_searchCriteria" />
        </where>
    </sql>

    <select id="selectList" parameterType="java.util.Map"
            resultMap="StudentPartScore">
        SELECT pt.*, exam.examname, eps.volumeid
        <include refid="listFilter" />
        ORDER BY pt.examid ASC, pt.gradeid ASC, pt.classid ASC, pt.stuno asc, pt.stuid ASC, pt.subjectid ASC, exampartscoreid ASC
        <include refid="BaseMapper.sqlFragment_pagination" />
    </select>

    <select id="countList" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        <include refid="listFilter" />
    </select>
</mapper>
